
# PuLP

# openpyxl

# cerberus
# plotly-express
# xlsxwriter
# httpx
# pydantic
# cbcpy
gamma-config~=0.5.0
click~=8.1.3
pydantic~=1.9.1

#data processing
pandas~=1.4.3
openpyxl~=3.0.10
xlrd~=2.0.1
pyarrow~=8.0.0

#io
fsspec~=2022.5.0

#logging
rich~=12.4.4

#optimization
gurobipy~=9.1.1

#ML
sklearn
xgboost

#coding
black~=22.6.0

#plotting 
altair~=4.2.0
seaborn~=0.11.2
